<section class="banner-section">
    <div class="relative h-72">

    {% if content.field_services_bg[0] is not empty %}
      {% set image_uri = content.field_services_bg[0]['#item'].entity.uri.value %}
        <img src="{{ file_url(image_uri) }}" class="absolute inset-0 w-full h-full object-cover">
    {% endif %}

    <!-- Remove h-72 here to match the parent's height -->
    <div class="absolute inset-0 bg-[#AD0AFF] bg-opacity-60  flex items-center justify-center">
        <div class="text-center text-white px-6">
        <h2 class="text-4xl font-extrabold text-left">{{ content.field_title_banner }}</h2>
        <p class="mt-4 text-xl sm:text-xl text-left font-medium leading-relaxed">
            {{ content.field_messsage }}
        </p>
        </div>
    </div>
    </div>
</section>